<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  
  <configuration>
	
	<properties resource="db.properties" />
	
	<settings>
<!-- 데이터 등록시 해당 속성값이 존재하지 않으면 부적합한 열 유형 : 1111 예외 발생
	 이 경우 해당타입을 명시적으로 알려주던지 아래와 같이 NULL값에 대해 특정값으로 설정이 가능하다. -->
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	
	<typeAliases>
		<typeAlias type="kr.or.ddit.comm.vo.AtchFileVO" alias="atchFileVO"/>
		<typeAlias type="kr.or.ddit.comm.vo.AtchFileDetailVO" alias="atchFileDetailVO"/>
	</typeAliases>
	
	<environments default="dev">
		
		<environment id="dev">
			
			<transactionManager type="JDBC"/>
			
			<dataSource type="POOLED">
				
				<property name="driver" value="${driver}" />
				
				<property name="url" value="${url}" />
				
				<property name="username" value="${username}" />
				
				<property name="password" value="${password}" />
				
			</dataSource>			
			
		</environment>		
		
	</environments>
	
	<mappers>
		<mapper resource="mapper/member.xml"/>
		<mapper resource="mapper/atchFile.xml"/>
	</mappers>
	
  </configuration>
